body {
  font-family: "Helvetica", Sans-Serif;
  background-color: black;
  color:white;
}
.BusStop {
  font-weight: bold;
  padding-bottom: 10px;
}
#clock{
  font-size: 20px;
  text-align: left;
}
.anzeige {
  margin: 1em;
}
/*
.kmb th,td{
  border: 1px solid #ddd;
}*/
.anzeige table{
  margin-left: auto;
  margin-right: auto;
}
.anzeige tbody tr th,.anzeige tbody tr td{
  text-align: left;
  width: 3em;
}
.anzeige tbody tr th:first-child{
  width: 2.5em;
  font-weight: bold;
  text-align:center;
 }

.anzeige tbody tr th:nth-child(3), .anzeige tbody tr td:nth-child(3){
  width: 8em;
}
.anzeige tbody tr td:first-child {
  width: 2.5em;
  border-left: 5px solid red;
  font-weight: bold;
  text-align: left;
  padding-left: 0.5em;
 }
.anzeige tbody tr th:last-child,.anzeige tbody tr td:last-child {
  width: 3.7em;
  text-align:right;
 }
.ziel{
  max-height:20px;
  overflow:hidden;
  display:block;
}
#Linien tbody, #Linien td{
  text-align:center;
}
.circle {
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
  display: block;
  text-align:center;
  margin: 0 auto;
  border: 1px solid black;
}
.tabs{
  text-align: center;
}
.tabs button {
  background-color: inherit;
  width: 30vw;
  min-width: 3.5em;
  max-width: 350px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  font-size: 17px;
}

.tab{
  border-width: 0;
}

.tab.active{
  border-width:0 0 0.25em;
  border-color: white;
}
.tabcontent{
  opacity: 0;
  max-height: 82vh;
  overflow-y: auto;
}
.tabcontent.current{
  color: white;
  margin-top: 1em;
  opacity: 1;
  transition: 0.3s;
}

.haltestelleTabelle td,.haltestelleTabelle th{
  white-space:nowrap;
  min-width: 3em;
}

.haltestelle{
  overflow-x: scroll;
  scrollbar-width: none;
}
.haltestelle::-webkit-scrollbar{
  display: none;
}
.haltestelleTabelle th,.haltestelleTabelle td{
  font-weight: light;
  font-size: 12px;
}
.LinieNr{
  font-weight: bold;
}
.LinienModul{
  padding: 1em;
}
.wrap1{
  display: flex;
  justify-content: center;
}

.route-input {
  text-transform: uppercase;
}

#myInput {
  width:15em;
  height: 35px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-color: white;
  border-radius: 10px;
}

#myInput2 {
  width:280px;
  height: 25px;
  font-size: 15px;
  background-color: black;
  color: white;
  border-color: white;
  border-radius: 10px;
}
.srchdiv {
  max-height: 75vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.srchdiv::-webkit-scrollbar{
  display: none;
}

#srchResults td{
  height: 30px;
}

#srchResults td:first-child{
  min-width: 4.5em;
  padding-left: 5px;
}
#srchResults td:last-child{
  min-width: 14.5em;
  max-width: 14.5em;
}

.popupContainer {
  overflow: hidden;
  height: 80vh;
}

.popupContainer .popupText {
  visibility: hidden;
  position: absolute;
  width: 90vw;
  height: 80vh;
  transform: -5vw;
  background-color: #111111;
  border-radius: 10px;
  padding: 8px 0;
  margin-left: 3vw;
}

.popupContainer .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.popupContainer .hidden {
  visibility: hidden;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#fertig {
  text-align: right;
  padding: 0.5em 1em 0;
}
#neuFertig {
  height: 20px;
  font-size: 20px;
  width: 100%;
  padding: 0px 15px 5px;
}
#neuFertig td:last-child{
  text-align: right;
  width:0.5em;
}


#popupETA {
  padding:1em;
  overflow-y: scroll;
  position: relative;
  height: 80%;
}

.langbtn {
  height:40px;
  width: 200px;
  background-color: #111111;
  text-align: center;
  color: #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 5px;
}

#setLang {
  background-color: #111111;
  width: 300px;
  border-radius: 10px;
  padding: 8px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.blinking {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.hidden-lang{
  visibility: hidden;
}

.hidden-load{
  visibility: hidden;
  height: 0px!important;
  margin-top: 0px!important;
}

.loading {
  border: 5px solid white;
  border-top: 5px solid grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#Hahatable{
  border-collapse:collapse;
  width: 100%;
}
#Hahatable td:first-child{
  min-width: 10px;
  max-width: 10px;
  width: 10px;
}
#Hahatable td:nth-child(2){
  padding-left: 5px;
}

#HaltestelleTable{
  width: 100%;
  max-width: 700px;
  min-width: 45vw;
}
#HaltestelleTable td:not(:first-child){
  width: 30px;
  max-width: 30px;
}

#ConfirmDelGroup {
  background-color: #111111;
  width: 300px;
  border-radius: 10px;
  padding: 8px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.confirmbtn {
  height:30px;
  width: 100px;
  background-color: #111111;
  text-align: center;
  color: #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 5px;
}
.confirmbtn:hover {
  background-color: #222222;
}

.addStopbtn {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  background-color: #111111;
  text-align: left;
  color: #FFFFFF;
  border-width: 0;
}
.addStopbtn:hover {
  background-color: #222222;
}

#AddStopGroup {
  background-color: #111111;
  text-align: center;
  width: 85vw;
  max-width: 500px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#AddStopGroupFertig {
  background-color: #111111;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addbtn{
  background-color: #111111;
  color: #FFFFFF;
  border: none;
}
.addbtn:hover {
  background-color: #222222;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  cursor: not-allowed;
}
.top{
  z-index: 10000;
}